//
   Created by pl on 5/30/15.

block title
    link(href="css/mainIndex.css" rel="stylesheet")
    title Front End
block content
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbarCollapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#/"): img#smalllogo(src="img/uber.png")
            .collapse.navbar-collapse#navbarCollapse
                ul.nav.navbar-nav
                    li: a(href="#/register") Register
                    li: a(href="#/login") Login
    .container-fluid(ng-controller="indexController")
        .row
            .col-md-10.col-md-offset-1
                .jumbotron
                    h1 Hackathon Demo app
                    h1 Welcome to Squad7.
                    p This app was created in the span of 3 days during the Uber Hackathon event at Coding Dojo. This demonstrate the ability of combining Twilio for phone calls and voice recognition and Google's Geocode API to request a ride from Uber.
                    p To test this service, please register an account, you will receive a random pin number, remember it. Log in, then create a few dummy addresses, dial
                    p: b (251)333-5010
                    p and follow the instructions. Addresses will be logged as latitude and longitude in the terminal.
                    p: i Technology used: Twilio API, Google Geocode API, MEAN stack, Jade preprocessor.
        .row


