//
   Created by pl on 5/30/15.

doctype html
html(lang="en")
    head
        link(href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
        link(href="css/stylesheet.css" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300")
        script(src="bower_components/jquery/dist/jquery.min.js")
        script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="bower_components/angular/angular.min.js")
        script(src="bower_components/angular-route/angular-route.min.js")
        script(src="js/angularscript.js")
        script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places")
        block title
    body(ng-app="uberApp")
        ng-view
        block content